@model IEnumerable<Apartment.Models.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="col-sm-3">
    <div class="row" style="margin-top:5px;">
        <select id="ddlProvince" class="form-control" asp-items="ViewBag.Provinces" onchange="GetProvinceById()">
            <option value="0">Tất cả</option>
        </select>
    </div>
    <div class="row" style="margin-top:5px;">
        <select id="ddlDistrict" class="form-control" asp-items="ViewBag.Districts" onchange="ReloadDistrictByProvinceId()">
            <option value="0">Tất cả</option>
        </select>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BirthDay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Province)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.District)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (Customer item in ViewBag.Customers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentityCardNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Province.ProvinceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.District.DistrictName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
           
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CustomerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts{
<script type="text/javascript">
    $("#ddlProvince").select2();
    $("#ddlDistrict").select2();
    function GetProvinceById() {
        var provinceid = $('#ddlProvince').find('option:selected').attr('value');
        var link = "/Customers?ProvinceID=" + provinceid;
        window.location.href = link;
    };
    function ReloadDistrictByProvinceId() {
        var provinceid = $('#ddlProvince').find('option:selected').attr('value');
        var districtid = $('#ddlDistrict').find('option:selected').attr('value');
        var link = "/Customers?ProvinceID=" + provinceid + "&DistrictID=" + districtid;
        window.location.href = link;
    };
</script>

}