@model IEnumerable<BuildingApp.Models.Customer>
@using BuildingApp.Models;
@{
    ViewData["Title"] = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="col-sm-3">
    <div class="row" style="margin-top:5px;">
        <select  id="ddlProvince" class="form-control" asp-items="ViewBag.Provinces" onchange="ReloadProvince()">
            <option value="0">Tất cả</option>
        </select>
    </div>
    <div class="row" style="margin-top:5px;">
        <select  id="ddlDistrict" class="form-control" asp-items="ViewBag.Districts" onchange="ReloadDistrict()">
            <option value="0">Tất cả</option>
        </select>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BirthDay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sex)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Identify)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                
        </tr>
    </thead>
    <tbody>
@foreach ( Customer item in ViewBag.Customers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Identify)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CustomerID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CustomerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@*@section Scripts
{
    <script src="@Url.Content("~/Scripts/jqueryFoo.js")"></script>
}*@
<script type="text/javascript" src="~/Scripts/jquery-3.1.1.min.js"></script>
@section Scripts{
    <script type="text/javascript">
        $("#ddlProvince").select2();
        $("#ddlDistrict").select2();
        function ReloadProvince() {
            var provinceid = $('#ddlProvince').find('option:selected').attr('value');
            var link = "/Customers?ProvinceID=" + provinceid;
            window.location.href = link;
        };
        function ReloadDistrict() {
            var provinceid = $('#ddlProvince').find('option:selected').attr('value');
            var districtid = $('#ddlDistrict').find('option:selected').attr('value');
            var link = "/Customers?ProvinceID=" + provinceid + "&DistrictID=" + districtid;
            window.location.href = link;
        };
    </script>
    }

