@model IEnumerable<Apartment.Models.ContractViewModels.ContractViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContractNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EngageMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractValue)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomTypeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EngageMonth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractValue)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ContractId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ContractId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ContractId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
